<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HShieldSellerProject.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string></string>
				<key>dateExpires</key>
				<string></string>
				<key>type</key>
				<string>Unknown</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>DACircularProgress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>DZNEmptyDataSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>IDMPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SDAutoLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>WebViewJavascriptBridge.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>YYModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string></string>
						<key>dateExpires</key>
						<string></string>
						<key>type</key>
						<string>Unknown</string>
					</dict>
					<key>name</key>
					<string>pop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33TX5ZF75D</string>
						<key>name</key>
						<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>name</key>
			<string>HShieldSellerProject.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>33TX5ZF75D</string>
				<key>name</key>
				<string>Shanghai Puyu Health Management Consulting Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
